.top-margin-btn {margin-top: 16px;}
body.[class^="registration"].mailing-check {
	margin-top: -36px;
}
body.registration .btn-submit {
	float: right;
	margin-top: 36px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
}

.column {
  border: 1px solid silver;
  cursor: move;
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 16px;
	padding: 8px 12px;
}
.column:last-child {margin-bottom: 0;}
.column header {
  
}

.column.dragElem {
  opacity: 0.4;
}
.column.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}