.btn-submit {margin-top: 36px;}

.top-margin-btn {margin-top: 16px;}

ul.rank-list {padding-left: 0;}
ul.rank-list .column .glyphicon {font-size: 4em;}
ul.rank-list .column .header {display: inline;}

/* Drag and drop ranking */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
}
.column {
  border: 1px solid silver;
  cursor: move;
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 16px;
	padding: 8px 12px;
}
.column:last-child {margin-bottom: 0;}
.column.dragElem {
  opacity: 0.4;
}
.column.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}